<app-navigation
  (isBasketChanged)="isBasketAction($event)"
  [basketData]="basketData"
></app-navigation>
<app-basket
  (isBasketChanged)="isBasketAction($event)"
  [isBasket] ="isBasket"
  [basketData] ="basketData"
  (decreaseId) = "decrease($event)"
  (increaseId) = "increase($event)"
  (removeCartId) = "removeFromCart($event)"
  [totalPrice] = "totalPrice"
></app-basket>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <app-product-filters></app-product-filters>
    </div>
    <div class="col-md-10">
      <div class="col-12 mb-4">
        <h3>{{ title }}</h3>
      </div>
      <app-product
        [productsData]="productsData"
        (cartItem)="addToCart($event)"
        class="row row-cols-2 row-cols-md-3 g-4"
      ></app-product>
    </div>
  </div>
</div>
<app-footer></app-footer>