<div class="mt-5">
  <div class="price-filter">
    <h5>price</h5>
    <div class="list-group">
      <label class="list-group-item border-0">
        <input class="form-check-input me-1" type="checkbox" value="" />
        50tl - 100tl
      </label>
      <label class="list-group-item border-0">
        <input class="form-check-input me-1" type="checkbox" value="" />
        100tl - 300tl
      </label>
      <label class="list-group-item border-0">
        <input class="form-check-input me-1" type="checkbox" value="" />
        300tl - 500tl
      </label>
    </div>
  </div>
</div>
